## Observations and Insights

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)



# remove duplicate time points of study results
clean_study_results=study_results.drop_duplicates(subset=['Mouse ID','Timepoint'])
clean_study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1888 rows x 4 columns]

In [18]:
# Combine the data into a single dataset
Merge_mouse_data=pd.merge(mouse_metadata,clean_study_results,on="Mouse ID")
Merge_mouse_data


# Display the data table for preview

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1883,z969,Naftisol,Male,9,30,25,63.145652,2
1884,z969,Naftisol,Male,9,30,30,65.841013,3
1885,z969,Naftisol,Male,9,30,35,69.176246,4
1886,z969,Naftisol,Male,9,30,40,70.314904,4
1887,z969,Naftisol,Male,9,30,45,73.867845,4

## Summary Statistics

In [66]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen:
grouped_mouse_data=Merge_mouse_data.groupby(['Drug Regimen', 'Timepoint'])

mean=grouped_mouse_data["Tumor Volume (mm3)"].mean()
mean

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000027DE3DDB070>

Drug Regimen  Timepoint
Capomulin     0            45.000000
              5            44.266086
              10           43.084291
              15           42.064317
              20           40.716325
                             ...
Zoniferol     25           55.432935
              30           57.713531
              35           60.089372
              40           62.916692
              45           65.960888
Name: Tumor Volume (mm3), Length: 100, dtype: float64

In [56]:
median=grouped_mouse_data["Tumor Volume (mm3)"].median()
median

Drug Regimen  Timepoint
Capomulin     0            45.000000
              5            45.597064
              10           43.421014
              15           42.798160
              20           40.716428
                             ...
Zoniferol     25           55.676604
              30           57.419744
              35           60.365832
              40           62.274543
              45           65.684689
Name: Tumor Volume (mm3), Length: 100, dtype: float64

In [59]:
standard_deviation=grouped_mouse_data["Tumor Volume (mm3)"].std()
standard_deviation

Drug Regimen  Timepoint
Capomulin     0            0.000000
              5            2.242964
              10           3.513422
              15           4.108369
              20           4.362915
                             ...
Zoniferol     25           2.410052
              30           3.098552
              35           3.297993
              40           3.736102
              45           3.755037
Name: Tumor Volume (mm3), Length: 100, dtype: float64

In [61]:
variance=grouped_mouse_data["Tumor Volume (mm3)"].var()
variance

Drug Regimen  Timepoint
Capomulin     0             0.000000
              5             5.030889
              10           12.344133
              15           16.878693
              20           19.035028
                             ...
Zoniferol     25            5.808348
              30            9.601024
              35           10.876760
              40           13.958456
              45           14.100301
Name: Tumor Volume (mm3), Length: 100, dtype: float64

In [60]:
SEM=grouped_mouse_data["Tumor Volume (mm3)"].sem()
SEM

Drug Regimen  Timepoint
Capomulin     0            0.000000
              5            0.448593
              10           0.702684
              15           0.838617
              20           0.909731
                             ...
Zoniferol     25           0.602513
              30           0.800043
              35           0.881426
              40           0.998515
              45           1.003576
Name: Tumor Volume (mm3), Length: 100, dtype: float64

In [62]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
summary_statistics=pd.DataFrame({"mean":mean,"median":median,"variance":variance,"standard deviation":standard_deviation,"SEM":SEM})
summary_statistics

                             mean     median   variance  standard deviation  \
Drug Regimen Timepoint
Capomulin    0          45.000000  45.000000   0.000000            0.000000
             5          44.266086  45.597064   5.030889            2.242964
             10         43.084291  43.421014  12.344133            3.513422
             15         42.064317  42.798160  16.878693            4.108369
             20         40.716325  40.716428  19.035028            4.362915
...                           ...        ...        ...                 ...
Zoniferol    25         55.432935  55.676604   5.808348            2.410052
             30         57.713531  57.419744   9.601024            3.098552
             35         60.089372  60.365832  10.876760            3.297993
             40         62.916692  62.274543  13.958456            3.736102
             45         65.960888  65.684689  14.100301            3.755037

                             SEM
Drug Regimen Timepoint
Capomulin    0          0.000000
             5          0.448593
             10         0.702684
             15         0.838617
             20         0.909731
...                          ...
Zoniferol    25         0.602513
             30         0.800043
             35         0.881426
             40         0.998515
             45         1.003576

[100 rows x 5 columns]

In [73]:
# Using the aggregation method, produce the same summary statistics in a single line
grouped_mouse_data.agg({"Tumor Volume (mm3)": ["mean","median","var","std","sem"]})

                       Tumor Volume (mm3)                                  \
                                     mean     median        var       std
Drug Regimen Timepoint
Capomulin    0                  45.000000  45.000000   0.000000  0.000000
             5                  44.266086  45.597064   5.030889  2.242964
             10                 43.084291  43.421014  12.344133  3.513422
             15                 42.064317  42.798160  16.878693  4.108369
             20                 40.716325  40.716428  19.035028  4.362915
...                                   ...        ...        ...       ...
Zoniferol    25                 55.432935  55.676604   5.808348  2.410052
             30                 57.713531  57.419744   9.601024  3.098552
             35                 60.089372  60.365832  10.876760  3.297993
             40                 62.916692  62.274543  13.958456  3.736102
             45                 65.960888  65.684689  14.100301  3.755037


                             sem
Drug Regimen Timepoint
Capomulin    0          0.000000
             5          0.448593
             10         0.702684
             15         0.838617
             20         0.909731
...                          ...
Zoniferol    25         0.602513
             30         0.800043
             35         0.881426
             40         0.998515
             45         1.003576

[100 rows x 5 columns]

## Bar and Pie Charts

In [83]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.
measurement=Merge_mouse_data.groupby(['Drug Regimen']).count()
measurement
#measurement.plot.bar(x='Drug Regimen', y='Mouse ID')

,Mouse ID,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Drug Regimen,,,,,,,
Capomulin,230,230,230,230,230,230,230
Ceftamin,178,178,178,178,178,178,178
Infubinol,178,178,178,178,178,178,178
Ketapril,188,188,188,188,188,188,188
Naftisol,186,186,186,186,186,186,186
Placebo,181,181,181,181,181,181,181
Propriva,156,156,156,156,156,156,156
Ramicane,228,228,228,228,228,228,228
Stelasyn,181,181,181,181,181,181,181
Zoniferol,182,182,182,182,182,182,182

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.
x_axis=np.arange(len())

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen